body{
    background-origin: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/assets/login-bg.jpeg');
    margin: 0px;
}
.bg{
    margin: 0px;
    overflow: hidden;
    height: 100vh;
}
.login-pane{

    width: 500px;
    position: absolute;
    right: 0px;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 10%;
    height: 100vh;
    background-color:rgba($color: rgb(75, 75, 75), $alpha: 0.9);    
}
h1,h2,h3{
    color:white;
    font-weight: 300;
}
h1{
    font-size: 75px;
}
h2{
    display: inline;
    margin-top: 30px;
    color: white;
    font-size: 32px;
}
h3{
    font-size: 18px;
    color: white;
}
.regis-link{
    display: inline;
    color:white;
    a{
        color: gold;
    }
}
.login-textbox{
    border-radius: 5px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    padding: 12px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    &:focus{
        border: .5px solid #ccc;
    }

}
.btn-themed{
    border: 0px;
    border-radius: 5px !important;
    padding: 6px;
    color: white;
    background-color: coral;
    font-weight: 300;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    &:hover{
        cursor: pointer;
        background-color: salmon;
        transition: all .15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
    }
}
.login-btn{
    margin-top: 10px;
}

input{
    border-radius: 5px;
}