@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: 'Open Sans', sans-serif;
  background-color: #3D3340; }

.navbar {
  background-color: #C25E5C;
  color: white; }
  .navbar a {
    color: white; }
    .navbar a:hover {
      text-decoration: none;
      color: white; }
  .navbar .navbar-brand {
    color: white; }
    .navbar .navbar-brand:hover {
      cursor: point;
      color: white;
      font-weight: bold; }

.outer-content {
  padding-top: 50px;
  color: #F8F8F5; }

.content-card {
  color: black;
  border-radius: 25px;
  background-color: white;
  height: 70%;
  padding: 20px; }

.sqr-btn {
  color: white;
  background-color: #EB9369;
  width: 125px;
  height: 125px;
  transition: all .15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out; }
  .sqr-btn:hover {
    transition: all .15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    background-color: #C25E5C;
    cursor: pointer; }

.side-btn {
  margin-bottom: 20px;
  background-color: #C25E5C; }
  .side-btn:hover {
    background-color: #EB9369; }

/*# sourceMappingURL=style.css.map */
