@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    font-family: 'Open Sans', sans-serif;
    background-color:  #3D3340;   
}
.navbar{
    a{
        color: white;
        &:hover{
            text-decoration: none;
            color:white;
        }
    }
    background-color: #C25E5C;
    color: white;
    .navbar-brand{
        color: white;
        &:hover{
            cursor: point;
            color:white;
            font-weight: bold;
        }
    }
}

.outer-content{
    padding-top: 50px;
    color: #F8F8F5;
}
.content-card{
    color: black;
    border-radius: 25px;
    background-color: white;
    height: 70%;
    padding: 20px;
}

.sqr-btn{
    color: white;
    background-color: #EB9369;
    width: 125px;
    height: 125px;
    transition: all .15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    &:hover{
        transition: all .15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
        background-color: #C25E5C;
        cursor: pointer;
    }
}
.side-btn{
    margin-bottom: 20px;
    background-color: #C25E5C;
    &:hover{
        background-color: #EB9369;
    }
}
