/* You can add global styles to this file, and also import other style files */
$fa-font-path: "../node_modules/font-awesome/fonts";
@import '~font-awesome/scss/font-awesome.scss';

@import url('https://fonts.googleapis.com/css?family=Open+Sans');


.navbar{
    a{
        color: white;
        &:hover{
            text-decoration: none;
            color:white;
        }
    }
    background-color: #C25E5C;
    color: white;
    .navbar-brand{
        color: white;
        &:hover{
            cursor: point;
            color:white;
            //font-weight: bold;
        }
    }
}

.outer-content{
    padding-top: 50px;
    color: #F8F8F5;
}
.content-card{
    color: black;
    border-radius: 25px;
    background-color: white;
    height: 70%;
    padding: 20px;
    margin-bottom: 30px;
}

.sqr-btn{
    color: white;
    background-color: #EB9369;
    width: 125px;
    height: 125px;
    transition: all .15s ease-in-out;
    -webkit-transition: all 0.15s ease-in-out;
    &:hover{
        text-decoration: none;
        transition: all .15s ease-in-out;
        -webkit-transition: all 0.15s ease-in-out;
        background-color: #C25E5C;
        cursor: pointer;
    }
}
.side-btn{
    margin-bottom: 20px;
    background-color: #C25E5C;
    &:hover{
        text-decoration: none;
        background-color: #EB9369;
    }
}
