<div class="row d-flex justify-content-center" style="text-align:center; padding-top:30px;">
    <h3 class="col-12">Today</h3> <!-- บอกว่าเลือกอะไร -->
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
</div>
