.side-margin{
    margin-right: 10px; 
    margin-left: 10px;
}
.record-name{
    font-size: 30px;
    text-align: left;
    //position: absolute;
    left: 0;
}
.record-baht{
    font-size: 20px;
    text-align: right;
    position: absolute;
    right: 0;
}
.record-des{
    //clear: both;
    font-size: 14px;
    //position: absolute;
}
.record{
    margin-left:10px;
    margin-right:15px;
    text-align:left;
}