<div class="row d-flex justify-content-center" style="padding-top:30px;">
  <div class="sqr-btn side-margin">
    <i class="fa fa-clock-o fa-3x" aria-hidden="true"></i>
    <div style="margin-top:15px; margin-left:5px;">Day</div>
  </div>
  <div class="sqr-btn side-margin">
    <i class="fa fa-calendar-o fa-3x" aria-hidden="true"></i>
    <div style="margin-top:15px; margin-left:5px;">Week</div>
  </div>
  <div class="sqr-btn side-margin">
    <i class="fa fa-calendar fa-3x" aria-hidden="true"></i>
    <div style="margin-top:15px; margin-left:5px;">Month</div>
  </div>
  <div class="sqr-btn side-margin">
    <i class="fa fa-birthday-cake fa-3x" aria-hidden="true"></i>
    <div style="margin-top:15px; margin-left:5px;">Year</div>
  </div>
</div>
<div class="row d-flex justify-content-center" style="text-align:center; padding-top:30px;">
    <h3 class="col-12">Today</h3> <!-- บอกว่าเลือกอะไร -->
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
    <div class="col-10 record">
      <span class="record-name">Dinner</span>
      <span class="record-baht">1500 Baht</span>
      <div class="record-des">Category | Description</div>
      <hr>
    </div>
</div>
