<html>
  <head>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
      <!--<link rel="stylesheet" href="style/font-awesome.min.css">-->
      <title>Template</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <body>
      <nav class="navbar navbar-expand-lg">
          <a class="navbar-brand" href="./secure/overview"><i class="fa fa-connectdevelop" aria-hidden="true"></i> FinancialApp</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
              <span class="mr-auto mt-2 mt-lg-0"></span>
              <div class="my-2 my-lg-0">
                  <span class="mr-sm-2"><a href="./secure/setting">Thanongsak</a></span>
                  <button type="button" class="btn btn-light" href="./login">Log out</button>
              </div>
          </div>
      </nav>
      <div class="container outer-content">
              
              <div class="row" style="vertical-align:center;">
                  <div class="col-7">
                      <h1>{{title}}</h1>
                  </div>
                  <div class="col-5">
                      <span style="font-size:14px;">Remaining</span><br>
                      <span style="font-size:32px;">888 Baht</span>
                  </div>
              </div>
              <div class="d-flex justify-content-center">
                      <div class="content-card col-8">
                        <router-outlet></router-outlet>
                          </div>
                          <div class="sidebar col-2">
                              <a href="./secure/add">
                                <div class="side-btn sqr-btn">
                                    <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
                                    <div style="margin-top:15px; margin-left:5px;">Add record</div>
                              </div></a>
                              <a href="./secure/summary">
                              <div class="side-btn sqr-btn">
                                    <i class="fa fa-line-chart fa-3x" aria-hidden="true"></i>
                                    <div style="margin-top:15px; margin-left:5px;">Summary</div>
                              </div></a>  
                          </div>
              </div>
             
      </div>
  </body>
</html>