<form class="col-8 offset-2" style="margin-top:30px;">
    <div class="row">
        <div class="col">
          <label class="col-form-label" for="amount">Amount</label>
        </div>
        <div class="col">
            <input type="number" class="form-control" id="amount">
        </div>
        <div class="col-1">
            <label class="col-form-label" for="amount">Baht</label>
          </div>
      </div>
      <br>
      <div class="row">
          <div class="col">
              <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inOut" id="inOut" value="1"> Income
              </label>
          </div>
          <div class="col">
              <label class="form-check-label">
                  <input class="form-check-input" type="radio" name="inOut" id="inOut" value="2"> Expense
              </label>
          </div>
      </div>
      <br>

     
    <div class="form-group">
        <label class="col-form-label" for="title">Title</label>
        <input type="text" class="form-control" id="title">
    </div>
    <div class="form-group">
        <label class="col-form-label" for="des">Description</label>
        <input type="text" class="form-control" id="des">
    </div>
      <div class="form-group">
          <label for="category">Category</label>
          <select id="category" class="form-control">
            <option selected>Food</option>
            <option>Study</option>
            <option>Entertainment</option>
            <option>Home</option>
            <option>Pet</option>
            <option>Health</option>
          </select>
      </div>

    <div class="sqr-btn">
            <i class="fa fa-floppy-o fa-3x" aria-hidden="true"></i>
            <div style="margin-top:15px; margin-left:5px;">Save</div>
    </div>
</form>