<form class="col-8 offset-2" style="margin-top:30px;">
    <div class="form-group">
        <label class="col-form-label" for="Name">Name</label>
        <input type="text" class="form-control" id="Name" value="Thanongsak Nate-anong">
    </div>
    <div class="form-group">
        <label class="col-form-label" for="Email">Email</label>
        <input type="email" class="form-control" id="Email" value="eiei-za@gmail.com">
    </div>
    <div class="form-group">
        <label class="col-form-label" for="pw">Password</label>
        <input type="password" class="form-control" id="pw">
    </div>
    <div class="form-group">
        <label class="col-form-label" for="repw">Re-Password</label>
        <input type="password" class="form-control" id="repw">
    </div>
    <div class="sqr-btn">
            <i class="fa fa-floppy-o fa-3x" aria-hidden="true"></i>
            <div style="margin-top:15px; margin-left:5px;">Save</div>
    </div>
</form>